body{
    justify-content: center;
    font-family: sans-serif;
    align-items: center;
    display: flex;
    height: 100vh;
    font-size: 20px;
    background: linear-gradient(rgb(1, 63, 105), rgb(29, 2, 76), rgb(1, 52, 110));
}
.container{
    background: linear-gradient(rgb(74, 213, 125), rgb(252, 253, 138));
    /* background-color: rgb(227, 232, 255); */
    padding: 30px;
    /* text-align: center; */
    border-radius: 9px;
    box-shadow: rgba(28, 66, 203, 0.422) 0px 5px 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    border: #000000 , 7px;
    

}
h2{
    color: rgb(16, 2, 63);
    text-align: center;
    
}
        
         


         
.button{
    font-size: 20px;
    width: 70px;
    height: 50px;
    background: linear-gradient(rgb(13, 0, 109), rgb(1, 96, 169));
    color: white;
    border-radius: 7px;
    cursor: pointer;
    padding : 20px;
    border: none;
    text-align: right;
    

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
button:hover{
   transform: scale(1.2);
    
}
.button input{
    margin-bottom: 10px;
    padding: 10px 25px;
}

#subject{
    font-size: 25px;
    color: #1e0656;
    font-weight: 30px;
    margin: 20px;
    /* text-align: right; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background: linear-gradient(rgb(157, 157, 247), rgb(255, 206, 255)); */
    
}
#listsubject{
    background: rgb(255, 255, 255);
    border: 10px;
    border-radius: 8px;
    border: #000000;
    /* padding: 10px 25px; */

    
}
li{
    /* margin: 10px; */
}

         button {background-image: linear-gradient(to right, #4b6cb7 0%, #182848  51%, #4b6cb7  100%)}
         button {
            margin: 10px;
            padding: 15px 40px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
          }

          button:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
.A{
    text-align: center;
}
.container li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
         
